body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8d1b1b;
}

header {
    background-color: rgb(204, 103, 103);
    color: black;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.product {
    border: 1px solid #bd6060;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #bd6060;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #da7c7c;
}
